Link to dataset on drive because it is too large to be uploaded to github:

https://drive.google.com/file/d/1b5R1mkm2hszCmJiOBvio45WApG1iA1cv/view?usp=sharing

In [ ]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('organised_Gen.csv', error_bad_lines=False) #dataset needs to be downloaded from google drive - link at top

df.info()

<ipython-input-18-4c4cafb4cd38>:4: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv('organised_Gen.csv', error_bad_lines=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496774 entries, 0 to 496773
Data columns (total 7 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Unnamed: 0                  496774 non-null  int64
 1   YEAR                        496774 non-null  int64
 2   MONTH                       496774 non-null  int64
 3   STATE                       496774 non-null  object
 4   TYPE OF PRODUCER            496774 non-null  object
 5   ENERGY SOURCE               496774 non-null  object
 6   GENERATION (Megawatthours)  496774 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 26.5+ MB

In [ ]:
print(df.head(10))

   Unnamed: 0  YEAR  MONTH STATE                         TYPE OF PRODUCER  \
0           0  2001      1    AK            Total Electric Power Industry
1           1  2001      1    AK            Total Electric Power Industry
2           2  2001      1    AK            Total Electric Power Industry
3           3  2001      1    AK            Total Electric Power Industry
4           4  2001      1    AK            Total Electric Power Industry
5           5  2001      1    AK            Total Electric Power Industry
6           6  2001      1    AK  Electric Generators, Electric Utilities
7           7  2001      1    AK  Electric Generators, Electric Utilities
8           8  2001      1    AK  Electric Generators, Electric Utilities
9           9  2001      1    AK  Electric Generators, Electric Utilities

                ENERGY SOURCE  GENERATION (Megawatthours)
0                        Coal                     46903.0
1                   Petroleum                     71085.0
2                 Natural Gas                    367521.0
3  Hydroelectric Conventional                    104549.0
4                        Wind                        87.0
5                       Total                    590145.0
6                        Coal                     18410.0
7                   Petroleum                     64883.0
8                 Natural Gas                    305277.0
9  Hydroelectric Conventional                    104549.0

In [ ]:
df_selected = df[df['YEAR'] == 2021].copy()
df = df_selected

In [ ]:
df.info() #25000 entreies after filtering out by year

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25422 entries, 460766 to 486187
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  25422 non-null  int64
 1   YEAR                        25422 non-null  int64
 2   MONTH                       25422 non-null  int64
 3   STATE                       25422 non-null  object
 4   TYPE OF PRODUCER            25422 non-null  object
 5   ENERGY SOURCE               25422 non-null  object
 6   GENERATION (Megawatthours)  25422 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 1.6+ MB

In [ ]:
df_selectedAZ = df[df['STATE'].str.contains('AZ', case=False)]
df_selectedCA = df[df['STATE'].str.contains('CA', case=False)]
df_selectedNV = df[df['STATE'].str.contains('NV', case=False)]
df_selectedAL = df[df['STATE'].str.contains('AL', case=False)]
df_selectedSC = df[df['STATE'].str.contains('SC', case=False)]
df_selectedNC = df[df['STATE'].str.contains('NC', case=False)]
df_selectedOR = df[df['STATE'].str.contains('OR', case=False)]
df_selectedGA = df[df['STATE'].str.contains('GA', case=False)]
df_selectedIA = df[df['STATE'].str.contains('IA', case=False)]

In [ ]:
combined_df = pd.concat([df_selectedAZ, df_selectedCA, df_selectedNV, df_selectedAL, df_selectedSC, df_selectedNC, df_selectedOR, df_selectedGA, df_selectedIA])

In [ ]:
combined_df.info() #5675 enteies after filtering out needed states

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5675 entries, 460875 to 484582
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  5675 non-null   int64
 1   YEAR                        5675 non-null   int64
 2   MONTH                       5675 non-null   int64
 3   STATE                       5675 non-null   object
 4   TYPE OF PRODUCER            5675 non-null   object
 5   ENERGY SOURCE               5675 non-null   object
 6   GENERATION (Megawatthours)  5675 non-null   float64
dtypes: float64(1), int64(3), object(3)
memory usage: 354.7+ KB

In [ ]:
combined_df.to_csv('filteredFuelInfo.csv', index=False)

In [ ]:
unique_values = combined_df['ENERGY SOURCE'].unique()

# Print the unique values
print(unique_values)

['Total' 'Coal' 'Pumped Storage' 'Hydroelectric Conventional'
 'Natural Gas' 'Nuclear' 'Other' 'Petroleum'
 'Solar Thermal and Photovoltaic' 'Other Biomass' 'Wind'
 'Wood and Wood Derived Fuels' 'Geothermal' 'Other Gases']

In [ ]:
combined_df.info()

df = combined_df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5675 entries, 460875 to 484582
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  5675 non-null   int64
 1   YEAR                        5675 non-null   int64
 2   MONTH                       5675 non-null   int64
 3   STATE                       5675 non-null   object
 4   TYPE OF PRODUCER            5675 non-null   object
 5   ENERGY SOURCE               5675 non-null   object
 6   GENERATION (Megawatthours)  5675 non-null   float64
dtypes: float64(1), int64(3), object(3)
memory usage: 354.7+ KB

In [ ]:
df_selectedCoal = df[df['ENERGY SOURCE'].str.contains('Coal', case=False)]
df_selectedHydro = df[df['ENERGY SOURCE'].str.contains('Hydroelectric Conventional', case=False)]
df_selectedNGas = df[df['ENERGY SOURCE'].str.contains('Natural Gas', case=False)]
df_selectedNuclear = df[df['ENERGY SOURCE'].str.contains('Nuclear', case=False)]
df_selectedPetrol = df[df['ENERGY SOURCE'].str.contains('Petroleum', case=False)]
df_selectedBiomass = df[df['ENERGY SOURCE'].str.contains('Other Biomass', case=False)]

In [ ]:
combined_df2 = pd.concat([df_selectedCoal, df_selectedHydro, df_selectedNGas, df_selectedNuclear, df_selectedPetrol, df_selectedBiomass])

In [ ]:
combined_df2.info() #2834 enteries after filtering out energy source

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2834 entries, 460876 to 484580
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  2834 non-null   int64
 1   YEAR                        2834 non-null   int64
 2   MONTH                       2834 non-null   int64
 3   STATE                       2834 non-null   object
 4   TYPE OF PRODUCER            2834 non-null   object
 5   ENERGY SOURCE               2834 non-null   object
 6   GENERATION (Megawatthours)  2834 non-null   float64
dtypes: float64(1), int64(3), object(3)
memory usage: 177.1+ KB

In [ ]:
combined_df2.to_csv('filteredFuelInfoFilter222.csv', index=False)

In [ ]:
# Read the CSV file
df = pd.read_csv('filteredFuelInfoFilter222.csv', error_bad_lines=False)

#df = df.drop('Unnamed: 0', axis=1) #unneccecary column

df.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2834 entries, 0 to 2833
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  2834 non-null   int64
 1   YEAR                        2834 non-null   int64
 2   MONTH                       2834 non-null   int64
 3   STATE                       2834 non-null   object
 4   TYPE OF PRODUCER            2834 non-null   object
 5   ENERGY SOURCE               2834 non-null   object
 6   GENERATION (Megawatthours)  2834 non-null   float64
dtypes: float64(1), int64(3), object(3)
memory usage: 155.1+ KB

<ipython-input-31-072fe14491ac>:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv('filteredFuelInfoFilter222.csv', error_bad_lines=False)

In [ ]:
unique_values = df['STATE'].unique()

# Print the unique values
print(unique_values)

['AZ' 'CA' 'NV' 'AL' 'US-TOTAL' 'SC' 'NC' 'GA' 'IA' 'OR']

In [ ]:
unique_values = df['ENERGY SOURCE'].unique()

# Print the unique values
print(unique_values)

['Coal' 'Hydroelectric Conventional' 'Natural Gas' 'Nuclear' 'Petroleum'
 'Other Biomass']

In [ ]:
rslt_df = df[df['STATE'] != 'US-TOTAL']

print(rslt_df)
df= rslt_df

      Unnamed: 0  YEAR  MONTH STATE  \
0            110  2021      1    AZ
1            136  2021      1    AZ
2           2231  2021      2    AZ
3           2257  2021      2    AZ
4           4352  2021      3    AZ
...          ...   ...    ...   ...
2829       23789  2021     12    IA
2830       23795  2021     12    IA
2831       23799  2021     12    IA
2832       23805  2021     12    IA
2833       23814  2021     12    IA

                                      TYPE OF PRODUCER  ENERGY SOURCE  \
0                        Total Electric Power Industry           Coal
1              Electric Generators, Electric Utilities           Coal
2                        Total Electric Power Industry           Coal
3              Electric Generators, Electric Utilities           Coal
4                        Total Electric Power Industry           Coal
...                                                ...            ...
2829         Combined Heat and Power, Industrial Power  Other Biomass
2830         Combined Heat and Power, Commercial Power  Other Biomass
2831           Combined Heat and Power, Electric Power  Other Biomass
2832  Electric Generators, Independent Power Producers  Other Biomass
2833           Electric Generators, Electric Utilities  Other Biomass

      GENERATION (Megawatthours)
0                       938410.0
1                       938410.0
2                      1168947.0
3                      1168947.0
4                       564331.0
...                          ...
2829                      5150.0
2830                       848.0
2831                       310.0
2832                      8199.0
2833                      1900.0

[2450 rows x 7 columns]

In [ ]:
df = df.drop('YEAR', axis=1)
df = df.drop('MONTH', axis=1)
df = df.drop('TYPE OF PRODUCER', axis=1)

print(df)

      Unnamed: 0 STATE  ENERGY SOURCE  GENERATION (Megawatthours)
0            110    AZ           Coal                    938410.0
1            136    AZ           Coal                    938410.0
2           2231    AZ           Coal                   1168947.0
3           2257    AZ           Coal                   1168947.0
4           4352    AZ           Coal                    564331.0
...          ...   ...            ...                         ...
2829       23789    IA  Other Biomass                      5150.0
2830       23795    IA  Other Biomass                       848.0
2831       23799    IA  Other Biomass                       310.0
2832       23805    IA  Other Biomass                      8199.0
2833       23814    IA  Other Biomass                      1900.0

[2450 rows x 4 columns]

In [ ]:
df = df.drop('Unnamed: 0', axis=1)

print(df)

     STATE  ENERGY SOURCE  GENERATION (Megawatthours)
0       AZ           Coal                    938410.0
1       AZ           Coal                    938410.0
2       AZ           Coal                   1168947.0
3       AZ           Coal                   1168947.0
4       AZ           Coal                    564331.0
...    ...            ...                         ...
2829    IA  Other Biomass                      5150.0
2830    IA  Other Biomass                       848.0
2831    IA  Other Biomass                       310.0
2832    IA  Other Biomass                      8199.0
2833    IA  Other Biomass                      1900.0

[2450 rows x 3 columns]

In [ ]:
# Filter rows based on conditions
filtered_df = df[(df['STATE'] == 'AZ') & (df['ENERGY SOURCE'] == 'Coal')]

# Compute the sum of the 'amount' column
sum_amount = filtered_df['GENERATION (Megawatthours)'].sum()

# Create a new DataFrame with the sum as a new row
new_row = pd.DataFrame({'STATE': ['AZ'], 'ENERGY SOURCE': ['Coal'], 'GENERATION (Megawatthours)': [sum_amount]})

In [ ]:
fresh_df = pd.DataFrame()

fresh_df = pd.concat([fresh_df, new_row])

print(fresh_df)

  STATE ENERGY SOURCE  GENERATION (Megawatthours)
0    AZ          Coal                  28601150.0

In [ ]:
# Get unique values from a column and store in a list
unique_states = df['STATE'].unique().tolist()

# Print the unique values list
print(unique_states)

['AZ', 'CA', 'NV', 'AL', 'SC', 'NC', 'GA', 'IA', 'OR']

In [ ]:
# Get unique values from a column and store in a list
unique_sources = df['ENERGY SOURCE'].unique().tolist()

# Print the unique values list
print(unique_sources)

['Coal', 'Hydroelectric Conventional', 'Natural Gas', 'Nuclear', 'Petroleum', 'Other Biomass']

In [ ]:
# Iterate over states and fuel types
for state in unique_states:
    for fuel_type in unique_sources:
        # Filter rows based on current state and fuel type
        filtered_df = df[(df['STATE'] == state) & (df['ENERGY SOURCE'] == fuel_type)]

        # Compute the sum for the current state and fuel type
        sum_amount = filtered_df['GENERATION (Megawatthours)'].sum()

        # Create a new row with the state, fuel type, and sum
        new_row = pd.DataFrame({'STATE': [state], 'ENERGY SOURCE': [fuel_type], 'GENERATION (Megawatthours)': [sum_amount]})

        # Append the new row to the new DataFrame
        fresh_df = fresh_df.append(new_row, ignore_index=True)

# Print the new DataFrame
print(fresh_df)

In [ ]:
fresh_df = fresh_df.drop(1)

print(fresh_df)

In [ ]:
fresh_df.info() #54 enteries after summing up generation by energy source per month and state

In [ ]:
fresh_df.insert(0, 'id', range(1, len(df) + 1)) #add id column

In [ ]:
fresh_df.to_csv('energyProductionFilter.csv', index=False)